@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* Galeria ------------------------------------------------------------------------------------- */

#fondoportada-galeria {
  background-color: #6e78ff;
}

#titulo-galeria {
  color: white;
  font-size: 39px;
  font-weight: 700;
}

#text-galeria {
  color: white;
  font-size: 34px;
  font-weight: 500;
}

#imgportada-galeria {
  width: 70%;
  height: auto;
  animation-name: cambiar-tam;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes cambiar-tam {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.08);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 991px) {
  #imgportada-galeria {
    width: 100%;
    height: auto;
  }
}

#contenido-texto-portada-galeria {
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 48px;
  padding-right: 48px;
}

@media (max-width: 767px) {
  #contenido-texto-portada-galeria {
    padding-top: 48px;
    padding-bottom: 0px;
    padding-left: 48px;
    padding-right: 48px;
  }
}

/* fotos */

#title-galeria {
  color: #323232;
  font-family: "Lobster", sans-serif;
  font-size: 56px;
  font-weight: 400;
  font-style: normal;
}

#icon-galeria {
  background-color: #6e78ff;
  border-radius: 11px;
  border-color: #6e78ff;
  color: white;
  font-size: 30px;
}

#card-galeria {
  border: 0;
  border-radius: 30px;
}

@media screen and (min-width: 568px) {
  .cards-wrapper {
    display: flex;
  }

  #card-galeria {
    margin: 0 0.5rem;
    width: calc(100%/3);
  }
}

@media screen and (max-width: 567px) {
  #card-galeria:not(:first-child) {
    display: none;
  }
}