@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* Sobre Nosotros ----------------------------------------------------------------------*/

#fondo-SN {
  background-color: #6e78ff;
}

#titulo-SN {
  color: #fff;
  font-weight: 700;
}

/* descripcion */

#fondo-descripcion-SN {
  padding-right: 0px;
  padding-left: 0px;
  background-color: #fff;
}


@media (max-width: 991px) {
  .img-SN {
    width: 100%;
    height: auto;
  }
}

.text-SN {
  text-align: justify;
}

#titulo-historia {
  font-size: 32px;
  text-align: center;
  font-weight: 700;
}

/* mision y vision */

#fondo-mv {
  background: white;
}


#MV-body {
  background-color: white;
  border-radius: 30px;
  transition: 0.5s;
}

#MV-body:hover {
  transition: all 0.5s;
  background-color: white;
  transform: translateY(-3%);
}


#card-titlemv {
  color: #6e78ff;
  font-size: 36px;
}



#text-mv {
  color: black;
  text-align: justify;
}

/* valores */

#fondo-val {
  background-color: #fff;
}

#titulo-valores {
  color: #4A102A;
  font-size: 56px;
  text-align: center;
  font-weight: 400;
  font-family: "Lobster", sans-serif;
}

#text-valores {
  font-size: 20px;
  text-align: center;
}

#icon1 {
  font-size: 3rem;
  color: black;
}

#card-text1 {
  color: black;
}

#card-title1 {
  color: black;
}

#card1 {
  background-color: #ecab0f;
  box-shadow: 8px 8px #d09306;
  transition: all 0.5s ease;
  transition-delay: 0s;
  transform: translateY(3%);
}

#card2 {
  background-color: #89d631;
  box-shadow: 8px 8px #5ab507;
  transition: all 0.5s ease;
  transition-delay: 0s;
  transform: translateY(3%);
}

#card3 {
  background-color: #0cb7f2;
  box-shadow: 8px 8px #0979b0;
  transition: all 0.5s ease;
  transition-delay: 0s;
  transform: translateY(3%);
}

#card4 {
  background-color: #ff0000;
  box-shadow: 8px 8px #e00000;
  transition: all 0.5s ease;
  transition-delay: 0s;
  transform: translateY(3%);
}


#card1:hover,
#card2:hover,
#card3:hover,
#card4:hover {
  transition: all 0.7s;
  background-color: #FDF1DB;
  transition-delay: 0s;
  transform: translateY(-3%);
}

#card1:hover #icon1,
#card2:hover #icon1,
#card3:hover #icon1,
#card4:hover #icon1 {
  transition: all 0.5s;
  color: black;
}

#card1:hover #card-text1,
#card2:hover #card-text1,
#card3:hover #card-text1,
#card4:hover #card-text1 {
  transition: all 0.5s;
  color: black;
}

#card1:hover #card-title1,
#card2:hover #card-title1,
#card3:hover #card-title1,
#card4:hover #card-title1 {
  transition: all 0.5s;
  color: black;
}

/* docentes */

#fondo-doc {
  background: #fff;
}

#titulo-docentes {
  color: #FF8F00;
  font-size: 56px;
  text-align: center;
  font-weight: 400;
  font-family: "Lobster", sans-serif;
}

#text-docentes {
  font-size: 20px;
  text-align: center;
}

#card-item {
  color: #000;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  backdrop-filter: blur(30px);
  background: white;
  transition: 0.5s;
}

#card-item:hover {
  transform: translateY(-3%);
}

#user-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #A3D8FF;
  border: 4px solid #A3D8FF;
}

#user-docente {
  margin-bottom: 0px;
}